.navbar {
  display: flex;
  /* justify-content: space-between; */
  background-color: #222;
  padding: 1rem;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.item a {
  text-decoration: none;
  color: #fff;
  transition: color .2s;
}

.item a:hover {
  color: #ffbb33;
}